<div class="portfolioContainer">
  <div class="sectHead">
    <span>Portfolio</span>
  </div>

  <div class="project">
    <div class="projPic">
      <img src="{{ codebytes.image }}">
    </div>
    <div class="projTitle"><span>{{ codebytes.title }}</span></div>
    <div class="projTagline"><span>{{ codebytes.tagline }}</span></div>
    <div class="projDesc"><p>{{ codebytes.desc }}</p></div>
    <div class="projGit">
      <span>More information on GitHub:</span>
      <a class="ghLink" href="{{ codebytes.github }}">
        <div>
          <i class="fa fa-github"></i>
        </div>
      </a>
    </div>
  </div>

  <div class="projMenu">
    <div class="codebytesBtn"></div>
    <div class="popquizBtn"></div>
    <div class="bdbudgetBtn"></div>
    <div class="visionQBtn"></div>
  </div>

</div>
