<div class="portfolioContainer">
  <div class="sectHead">
    <span>Portfolio</span>
  </div>

  <div class="project">
    <div class="projPic">
      <a href="{{ displayedProj.url }}"><img src="{{ displayedProj.image }}"></a>
    </div>
    <div class="projTitle"><a href="{{ displayedProjurl }}"><span>{{ displayedProj.title }}</span></a></div>
    <div class="projTagline"><span>{{ displayedProj.tagline }}</span></div>
    <div class="projDesc"><p>{{ displayedProj.desc }}</p></div>
    <div class="projGit">
      <span>More information on GitHub:</span>
      <a class="ghLink" href="{{ displayedProj.github }}">
        <div>
          <i class="fa fa-github"></i>
        </div>
      </a>
    </div>
  </div>

  <div class="projMenu">
    <div ng-click="changeProj(codebytes)" class="codebytesBtn btn"><img src="{{ codebytes.image}}"></div>
    <span>{{ codebytes.title}}</span>

    <div ng-click="changeProj(popquiz)" class="popquizBtn btn"><img src="{{ popquiz.image }}"></div>
    <span>{{ popquiz.title}}</span>

    <div class="bdbudgetBtn btn"><img src="" alt=""></div>
    <span>{{ popquiz.title}}</span>

    <div class="visionQBtn btn"><img src="" alt=""></div>
    <span>{{ popquiz.title}}</span>

  </div>

</div>
